@(carriers: List[Carrier])(plans: List[Plan])(planPools: List[PlanPool])(sims: List[SimCard])

@main("Manage") {
	<div class="hero-unit">
		<h1>Manage</h1>
		<div class="divider"></div>
		<h2>Carriers</h2>
		<table>
			<thead>
				<tr>
					<th>Carrier Id</th>
					<th>Carrier Name</th>
					<th>Number of Plans</th>
				</tr>
			</thead>
			@for(carrier <- carriers) {
				<tr>
					<td>@carrier.carrierId</td>
					<td>@carrier.carrierName</td>
					<td>@carrier.plans.size()</td>
				</tr>
			}
		</table>
		
		<div class="divider"></div>
		<h2>Plans</h2>
		<table>
			<thead>
				<tr>
					<th>Plan Id</th>
					<th>Billing Period (in days)</th>
					<th>Flat Rate Per Billing Period</th>
					<th>Rate/byte</th>
					<th>Max. Data (in bytes)</th>
					<th>Overage Rate/byte</th>
					<th>Carrier Id</th>
				</tr>
			</thead>
			@for(plan <- plans) {
				<tr>
					<td>@plan.planId</td>
					<td>@plan.billingPeriodInDays</td>
					<td>@plan.flatRatePerBillingPeriod</td>
					<td>@plan.dataRatePerByte</td>
					<td>@plan.numBytesUntilOverage</td>
					<td>@plan.overageDataRatePerByte</td>
					<td>@plan.carrier.carrierId</td>
				</tr>
			}
		</table>
		
		<div class="divider"></div>
		<h2>Plan Pools</h2>
		<table>
			<thead>
				<tr>
					<th>Pool Id</th>
					<th>Plan Id</th>
					<th>Maximum Data</th>
					<th>Number of SIM cards</th>
				</tr>
			</thead>
			@for(pool <- planPools) {
				<tr>
					<td>@pool.poolId</td>
					<td>@pool.plan.planId</td>
					<td>@(if (pool.isUnlimited) "Unlimited" else pool.maxBytes)</td>
					<td>@pool.simCards.size()</td>
				</tr>
			}
		</table>
		<a href="#"><button>Add New Plan Pool</button></a>
		
		<div class="divider"></div>
		<h2>SIM Cards</h2>
		<table>
			<thead>
				<tr>
					<th>SIM Number</th>
					<th>SIM Name</th>
					<th>Pool Id</th>
					<th>Data Usage for the Past Month</th>
					<th>Actions</th>
				</tr>
			</thead>
			@for(sim <- sims) {
				<tr>
					<td>@sim.simNumber</td>
					<td>@sim.displayName</td>
					<td>@sim.pool.poolId</td>
					<td>TODO</td>
					<td><a href="#">Move to another pool</a></td>
				</tr>
			}
		</table>
		
	</div>
} {
}